body{
    background-image: url(imagem/bolo-de-cenoura.jpg);
    background-attachment: fixed;
    
}
.bolo{
    height: 100%;
    width:80%;
    background-color: white;
    margin:auto;
    padding: 20px;
    font-size: 17pt;
}
.tit{
    font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.bolo h1,h2{
    text-align: center;
    font-size: 30pt;
}
.link{
    text-align: center;
}
.link2{
    text-align: center;
}
.link a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
 .link a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
 .link2 a{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.link a:hover{
    background-color: rgb(72, 72, 250);
    color:white;
    transition: 2s;
    
    
}
.link a:hover{
    background-color:;
    color:white;
    transition: 2s;
    
    
}
.link2 a:hover{
    background-color:  rgb(72, 72, 250);
    color:white;
    transition: 2s;   
}
.bom{
    text-align: center;
}